services:
  nexus:
    image: sonatype/nexus3:{{ nexus_version }}
    container_name: nexus
    restart: always
    networks:
    - nexus
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms4096m -Xmx4096m -XX:MaxDirectMemorySize=4096m -Djava.util.prefs.userRoot=/nexus-data/javaprefs
    volumes:
      - {{ nexus_data }}:/nexus-data

  nginx:
    image: nginx:{{ nginx_version }}
    container_name: nginx
    restart: always
    networks:
    - nexus
    ports:
      - "80:80"
    volumes:
      - ./conf.d:/etc/nginx/conf.d/
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./index.html:/var/www/html/index.html

networks:
  nexus:
