services:
  clickhouse:
    image: "docker.io/clickhouse/clickhouse-server:{{ clickhouse_version }}"
    user: root:root
    container_name: clickhouse
    restart: unless-stopped
    network_mode: host
    environment:
      CLICKHOUSE_SKIP_USER_SETUP: "1"
      CLICKHOUSE_DB: "{{ clickhouse_db }}"
    volumes:
      - "{{ clickhouse_config_d }}:/etc/clickhouse-server/config.d"
      - "{{ clickhouse_log_dir }}:/var/log/clickhouse-server"
      - "{{ clickhouse_data_dir }}:/var/lib/clickhouse"
      - "{{ clickhouse_config_d }}/users.xml:/etc/clickhouse-server/users.xml"
      - "./effective_tld_names.dat:/var/lib/clickhouse/top_level_domains/effective_tld_names.dat"
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:{{ http_port }}/ping || exit 1"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 1s
